body{
    margin: opx;
    padding: 0px;
}
.header{
    width: 100%;
    height: 300px;
    background: black;
}
.nav{
    width: 1200px;
    height: 50px;
    background: yellow;
    margin-left: 10px;
    
}
.nav ul{
    list-style: none;
    margin-left: 0px;
    }
        .nav ul li{
            float: left;
            width: 175px;
            padding: 15px 0;
            font-size: 20px;
        }
        .nav ul li:hover{
            background-color: whitesmoke ;
            color: rgb(34, 31, 218);
        
        }
        .nav a{
            color: black;
        }
body{
    background-color: yellow;

}
.footer{
    height: 100px;
    background: yellow;
    text-align: centre;
}
.top{
    height:150px;
    width:100%;
    margin-top:60px;
    padding-top:23px;
}
.namee{
    height:100px;
    width:50%;
    text-align:center;
    float:left;
   
}
.motoo{
    height:100px;
    width:50%;
   
    text-align:center;
    float:left;
}
.name{
    color:yellow;

    text-align: left;
    font-style: italic;
    padding-top:20px;
    margin-left: 15px;

    font-size: 30px;
}


p{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
    text-decoration-style: solid;
}
.moto{
    text-align: right;
    font-style: italic;
    margin-right: 5px;
    font-size: 20px;
}
.detail{
    margin-top: 50%;
}
.suit1{
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}
.suit2{
    margin-left:5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}
.suit3{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}
.trouse1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("s6.jpg") no-repeat;
    background-size: 50%;
}
.trouse2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("s7.jpg")no repeat;
    background-size: 50%;
}
.trouse3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}

.shirt1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}
.shirt2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}
.shirt3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("s5.jpg") no-repeat;
    background-size: 50%;
}

.shoes1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("sh5.jpg") no-repeat;
    background-size: 50%;
}
.shoes2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("sh2.jpg") no-repeat;
    background-size: 50%;
}
.shoes3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("sh8.jpg") no-repeat;
    background-size: 50%;
}
.footerclass{
    font-size: 25px;
    text-align: center;
}
.topic{
    text-align: center;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background:black;
    color: yellow;
}
