body{
    margin: opx;
    padding: 0px;
}
.header{
    width: 100%;
    height: 300px;
    background: rgb(114, 106, 224);
}
.nav{
    width: 1000px;
    height: 50px;
    background: white;
    margin-left: 10px;
}
.nav ul{
    list-style: none;
    margin-left: 0px;
    }
        .nav ul li{
            float: left;
            width: 175px;
            padding: 15px 0;
            font-size: 20px;
        }
        .nav ul li:hover{
            background-color: whitesmoke ;
            color: rgb(34, 31, 218);
        
        }
        .nav a{
            color: black;
        }
.middle{

}
.footer{
    height: 300px;
    background: rgb(95, 90, 90);
    text-align: centre;
}
p{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
    text-decoration-style: solid;
}
.moto{
    text-align: right;
    font-style: italic;
    margin-right: 5px;
    font-size: 20px;
    
}
.top{
    height:150px;
    width:100%;
    margin-top:60px;
    padding-top:23px;
}
.namee{
    height:100px;
    width:50%;
    text-align:center;
    float:left;
}
.motoo{
    height:100px;
    width:50%;
    
    text-align:center;
    float:left;
}

.name{
    color:red;

    text-align: left;
    font-style: italic;
    padding-top:20px;
    margin-left: 15px;
	margin-top: 15px;
    font-size: 30px;
}
.detail{
    margin-top: 50%;
}
.suit1{
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("d1.jpg") no-repeat;
    background-size: 50%;
}
.suit2{
    margin-left:5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("d2.jpg") no-repeat;
    background-size: 50%;
}
.suit3{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("d3.jpg") no-repeat;
    background-size: 50%;
}
.trouse1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("wt2.jpg") no-repeat;
    background-size: 50%;
}
.trouse2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("5e.png")no repeat;
    background-size: 50%;
}
.trouse3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("wt3.jpg") no-repeat;
    background-size: 50%;
}

.shirt1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("99.png") no-repeat;
    background-size: 50%;
}
.shirt2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("2.png") no-repeat;
    background-size: 50%;
}
.shirt3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("2b.png") no-repeat;
    background-size: 50%;
}
.jacket1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("j1.jpg") no-repeat;
    background-size: 50%;
}
.jacket2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("j3.jpg") no-repeat;
    background-size: 45%;
}
.jacket3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("j5.jpg") no-repeat;
    background-size: 50%;
}
.shoes1{
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("sh5.jpg") no-repeat;
    background-size: 50%;
}
.shoes2{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("sh2.jpg") no-repeat;
    background-size: 50%;
}
.shoes3{
    margin-left: 25px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    float: left;
    background: url("sh8.jpg") no-repeat;
    background-size: 50%;
}
.footerclass{
    font-size: 25px;
    text-align: center;
}
.topic{
    text-align: center;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background: rgb(114, 106, 224);
}
.others1{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("sh8.jpg") no-repeat;
    background-size: 50%;
}
.others2{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("sh8.jpg") no-repeat;
    background-size: 50%;
}
.others3{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("sh8.jpg") no-repeat;
    background-size: 50%;
}
.others4{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("sho1.jpg") no-repeat;
    background-size: 50%;
}
.others5{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("sk1.jpg") no-repeat;
    background-size: 50%;
}
.otherss6{
    margin-left: 5px;
    font-size: 15px;
    width: 300px;
    height: 400px;
    float: left;
    background: url("tie.jpg") no-repeat;
    background-size: 50%;
    background-color: red;
}
#purchases{
    float: left;
    margin-left: 150px;
    height: 50px;
    width: 200px;
    background-color: green;
    color: white;
    font-size: 20px
}